.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
    overflow: hidden;
}

.profile-title {
    position: relative;
}

.profile-title h1 { 
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
}

.profile-title img {
    height: 70px;
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* Swiper Container */
.profile-swiper {
    width: 100%;
    max-width: 1100px;
    overflow: hidden;
    padding-bottom: 60px;
    margin: 0 auto;
    box-sizing: border-box;
}

.swiper-wrapper {
    align-items: stretch;
}

.profile-card {
    height: 390px;
    background: #111;
    border: 2px solid #333;
    border-radius: 15px;
    padding: 35px;
    text-align: center;
    transition: 0.3s;
    cursor: grab;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.profile-card:hover {
    border: 2px solid #DF8908;
    transform: scale(1);
    z-index: 20;
}

.profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    margin-top: -20px;
    margin: 0 auto 15px auto;
}

.profile-card h2 {
    font-size: 22px;
    margin-bottom: 20px;
    min-height: 30
}

.profile-card p {
    font-size: 16px;
    line-height: 20px;
    color: #d4d4d4;
    margin: 3px 0;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    min-height: 30;
}

.swiper-pagination {
    position: relative;
    z-index: 10;
    bottom: 0 !important;
    text-align: center;
}

.swiper-pagination-bullet {
    background: #444;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: linear-gradient(270deg, #DF8908 50%, #B415FF 100%) !important;
}