.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.resume-title {
    position: relative;
}

.resume-title h1 {
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
}

.resume-title img {
    height: 70px;
    width: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.resume-container {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-inline: auto;
    box-sizing: border-box;
    gap: 40px;
    margin-bottom: 80px;
    align-items: stretch;
}

.resume-format {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 40px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
    min-height: 350px;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between
}

.resume-format h2 {
    line-height: 1;
    font-size: 35px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 50%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.resume-format h3 {
    font-size: 25px;
    font-weight: 600;
}

.resume-format p {
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #d4d4d4;
    font-size: 20px;
    line-height: 22px;
    max-width: 300px;
}

.resume-readmore {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.resume-details p {
    margin-bottom: 15px;
    line-height: 1.5;
}

.resume-format:hover {
    border: 2px solid #DF8908;
    background-image: linear-gradient(45deg, #3f0028, #582300);
    transform: scale(1.05);
    transition: 0.4s;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #1a1a1a;
    color: white;
    padding: 30px;
    border-radius: 12px;
    width: 500px;
    max-width: 90%;
    height: 70vh;
    overflow-y: auto;
    text-align: left;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.3s ease-in-out;
}

.modal-content h2 {
    margin-bottom: 15px;
    background: linear-gradient(270deg, #DF8908 50%, #B415FF 100%);
    background-clip: text;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #DF8908;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.modal-content button:hover {
    background: #b415ff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}