.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 120px 170px;
}

.gallery-title {
    position: relative;
}

.gallery-title h1 {
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
}

.gallery-title img {
    height: 70px;
    width: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5cap;
    row-gap: 45px;
}

.gallery-container img {
    box-sizing: border-box;
    width: 250px;
    height: 250px;
    transition: 0.3s;
    cursor: pointer;
}

.gallery-container img:hover {
    transform: scale(1.05);
    border: 4px solid #df8908;
    border-radius: 0.3ms;
    transition: 0.3s;
}

.gallery-showmore {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 8px 20px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
}

.gallery-showmore:hover {
    gap: 50px;
    transition: 0.6s;
}

.gallery-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.gallery-modal-content {
    background: #1a1a1a;
    color: white;
    padding: 30px;
    border-radius: 12px;
    width: 80%;
    max-width: 1000px;
    max-height: 80vh;
    /* biar tidak terlalu tinggi */
    overflow-y: auto;
    /* biar bisa discroll */
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.3s ease-in-out;
}

.gallery-modal-content h2 {
    margin-bottom: 20px;
    text-align: center;
    background: linear-gradient(270deg, #DF8908 50%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gallery-modal-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.gallery-modal-images img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
}

.gallery-modal-images img:hover {
    transform: scale(1.05);
}

.gallery-modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #DF8908;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    transition: 0.3s;
    display: block;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.gallery-modal-content button:hover {
    background: #B415FF;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}